body
{
    background-image: linear-gradient(90deg,#7f00ff,#e100ff);
}
.pagename
{
	text-align:center;
}
.form
{
    margin: 1cm auto auto 1cm;
}
.buttons
{
    margin: 1cm auto auto 5cm;
}
.mai
{
    background-color: white;
    width: 500px;
    height: 1300px;
    margin: 1cm auto auto auto;
    border-radius: 0.5cm;
}
#hed
{
    text-transform: capitalize;
    text-align: center;
}
#hrl
{
    margin-left: 5mm;
    margin-right: 5mm;
    background-image: linear-gradient(90deg,#e100ff,#7f00ff);
    height: 0.5mm;
}
.error
  {
    background: #F2DEDE;
    colot: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
  }
  